In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# using Path import the data
# test_df = pd.read_csv(Path('test.csv'))
# sample_df = pd.read_csv(Path('sampleSubmission.csv'))
# train_df = pd.read_csv(Path('train.csv'))

# Telcom Churn Data Import

In [4]:
# import the telcom churn csv data
telcom_data_df = pd.read_excel(Path('resources/telcom_customer_data.xlsx'))
telcom_data_df.shape # (4250, 10)
telcom_data_df.head()

,state,age,area_code,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,number_customer_service_calls,churn
0,OH,42,area_code_415,1,26,161.6,123,27.47,1,no
1,NJ,36,area_code_415,0,0,243.4,114,41.38,0,no
2,OH,39,area_code_408,0,0,299.4,71,50.90,2,no
3,OK,41,area_code_415,0,0,166.7,113,28.34,3,no
4,MA,34,area_code_510,1,24,218.2,88,37.09,3,no

In [5]:
# Modify the area_code column by removing the "area_code_" part of the string from every entry.
telcom_data_df['area_code'] = telcom_data_df['area_code'].str.replace('area_code_', '')
# Modify the churn column by replacing the "yes" with a 1 and "no" with a 0.
telcom_data_df['churn'] = telcom_data_df['churn'].replace({'yes': 1, 'no': 0})
telcom_data_df.head()

C:\Users\lerch\AppData\Local\Temp\ipykernel_117192\386215360.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  telcom_data_df['churn'] = telcom_data_df['churn'].replace({'yes': 1, 'no': 0})

,state,age,area_code,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,number_customer_service_calls,churn
0,OH,42,415,1,26,161.6,123,27.47,1,0
1,NJ,36,415,0,0,243.4,114,41.38,0,0
2,OH,39,408,0,0,299.4,71,50.90,2,0
3,OK,41,415,0,0,166.7,113,28.34,3,0
4,MA,34,510,1,24,218.2,88,37.09,3,0

Now that the churn column contains numerical values, we can calculate the churn rate. It’s a business metric that gives us the percentage of people who stopped using the product during a given time period. We can calculate this metric for our data as follows:

 $$Churn Rate = (churned / total customers) ∗ 100$$
Please note that all our rows correspond to customer data from the same time period. The formula above reflects that as well.

The above metric can present us with a good overview of the percentage of user churn. As a business, of course, the goal is to minimize churn.

Instructions
In an empty cell, calculate the churn rate.
In a Text Box, briefly describe whether you think the churn rate is high or not.
Keep in mind that different industries have different average churn rates.
We encourage you to look up articles or reports online that can help you interpret your calculated churn rate.

In [7]:
# In an empty cell, calculate the churn rate.
churn_rate = telcom_data_df['churn'].value_counts()[1] / telcom_data_df['churn'].count()

# convert to percentage
churn_rate = churn_rate * 100
churn_rate

14.070588235294117

# Initial EDA

### The overall churn rate is about ~14%.

We will now calculate some descriptive statistics and start investigating the types of customers who churn.

Let's start with using the COUNTBLANK function to check if there are any missing values in our data. Since we are working with an already-cleaned dataset, there should be no missing values. However, it’s always a good idea to check for them when working with any dataset.

In [9]:
# In a Text Box, briefly describe whether you think the churn rate is high or not.
# Keep in mind that different industries have different average churn rates.
# We encourage you to look up articles or reports online that can help you interpret your calculated churn rate.

## Initial Data Exploration

### Instructions

1. **Copy and paste all of the numerical columns from the telco_churn sheet to a new sheet.**

2. **For each column, calculate the following using Excel functions:**
   - Number of NULL or blank values
   - The mean of the column
   - The median of the column
   - The standard deviation of the column
   - The minimum value of the column
   - The maximum value of the column

3. **Using these calculated values, create a separate table in the same sheet with the following:**
   - The column names are the names of the columns from the dataset.
   - Each row has a label corresponding to the statistic calculated in the previous step.

4. **Insert a Text Box underneath the table, and add answers to the following questions:**
   - Which columns have the most variation?
   - Which columns have the largest difference between their mean and median values?
   - What does the above indicate?

In [11]:
age_mean, age_median, age_mode, age_std, age_var, age_min, age_max = telcom_data_df['age'].mean(), telcom_data_df['age'].median(), telcom_data_df['age'].mode(), telcom_data_df['age'].std(), telcom_data_df['age'].var(), telcom_data_df['age'].min(), telcom_data_df['age'].max()
voice_mail_plan_mean, voice_mail_plan_median, total_day_minutes_median, total_day_calls_median, number_customer_service_calls_median, churn_median = telcom_data_df['voice_mail_plan'].mean(), telcom_data_df['voice_mail_plan'].median(), telcom_data_df['total_day_minutes'].mode(), telcom_data_df['total_day_calls'].std(), telcom_data_df['number_customer_service_calls'].var(), telcom_data_df['churn'].min()
number_vmail_messages_mean, number_vmail_messages_median, total_day_minutes_mode, total_day_calls_std, number_customer_service_calls_var, churn_min = telcom_data_df['number_vmail_messages'].mean(), telcom_data_df['number_vmail_messages'].median(), telcom_data_df['total_day_minutes'].mode(), telcom_data_df['total_day_calls'].std(), telcom_data_df['number_customer_service_calls'].var(), telcom_data_df['churn'].min()
number_customer_service_calls_mean, number_customer_service_calls_median, number_customer_service_calls_mode, number_customer_service_calls_std, number_customer_service_calls_var, number_customer_service_calls_min, number_customer_service_calls_max = telcom_data_df['number_customer_service_calls'].mean(), telcom_data_df['number_customer_service_calls'].median(), telcom_data_df['number_customer_service_calls'].mode(), telcom_data_df['number_customer_service_calls'].std(), telcom_data_df['number_customer_service_calls'].var(), telcom_data_df['number_customer_service_calls'].min(), telcom_data_df['number_customer_service_calls'].max()
total_day_minutes_mean, total_day_minutes_median, total_day_minutes_mode, total_day_minutes_std, total_day_minutes_var, total_day_minutes_min, total_day_minutes_max = telcom_data_df['total_day_minutes'].mean(), telcom_data_df['total_day_minutes'].median(), telcom_data_df['total_day_minutes'].mode(), telcom_data_df['total_day_minutes'].std(), telcom_data_df['total_day_minutes'].var(), telcom_data_df['total_day_minutes'].min(), telcom_data_df['total_day_minutes'].max()
total_day_calls_mean, total_day_calls_median, total_day_calls_mode, total_day_calls_std, total_day_calls_var, total_day_calls_min, total_day_calls_max = telcom_data_df['total_day_calls'].mean(), telcom_data_df['total_day_calls'].median(), telcom_data_df['total_day_calls'].mode(), telcom_data_df['total_day_calls'].std(), telcom_data_df['total_day_calls'].var(), telcom_data_df['total_day_calls'].min(), telcom_data_df['total_day_calls'].max()
total_day_charge_mean, total_day_charge_median, total_day_charge_mode, total_day_charge_std, total_day_charge_var, total_day_charge_min, total_day_charge_max = telcom_data_df['total_day_charge'].mean(), telcom_data_df['total_day_charge'].median(), telcom_data_df['total_day_charge'].mode(), telcom_data_df['total_day_charge'].std(), telcom_data_df['total_day_charge'].var(), telcom_data_df['total_day_charge'].min(), telcom_data_df['total_day_charge'].max()
churn_mean, churn_median, churn_mode, churn_std, churn_var, churn_min, churn_max = telcom_data_df['churn'].mean(), telcom_data_df['churn'].median(), telcom_data_df['churn'].mode(), telcom_data_df['churn'].std(), telcom_data_df['churn'].var(), telcom_data_df['churn'].min(), telcom_data_df['churn'].max()

print(f'Age: mean: {age_mean}, median: {age_median}, mode: {age_mode}, std: {age_std}, var: {age_var}, min: {age_min}, max: {age_max}')
print('====================================================================================================================================================================================')
print(f'Voice Mail Plan: mean: {voice_mail_plan_mean}, median: {voice_mail_plan_median}, mode: {voice_mail_plan_median}, std: {total_day_calls_std}, var: {number_customer_service_calls_var}, min: {churn_min}')
print('====================================================================================================================================================================================')
print(f'Number Vmail Messages: mean: {number_vmail_messages_mean}, median: {number_vmail_messages_median}, mode: {total_day_minutes_mode}, std: {total_day_calls_std}, var: {number_customer_service_calls_var}, min: {churn_min}')
print('====================================================================================================================================================================================')
print(f'Number Customer Service Calls: mean: {number_customer_service_calls_mean}, median: {number_customer_service_calls_median}, mode: {number_customer_service_calls_mode}, std: {number_customer_service_calls_std}, var: {number_customer_service_calls_var}, min: {number_customer_service_calls_min}, max: {number_customer_service_calls_max}')
print('====================================================================================================================================================================================')
print(f'Total Day Minutes: mean: {total_day_minutes_mean}, median: {total_day_minutes_median}, mode: {total_day_minutes_mode}, std: {total_day_minutes_std}, var: {total_day_minutes_var}, min: {total_day_minutes_min}, max: {total_day_minutes_max}')
print('====================================================================================================================================================================================')
print(f'Total Day Calls: mean: {total_day_calls_mean}, median: {total_day_calls_median}, mode: {total_day_calls_mode}, std: {total_day_calls_std}, var: {total_day_calls_var}, min: {total_day_calls_min}, max: {total_day_calls_max}')
print('====================================================================================================================================================================================')
print(f'Total Day Charge: mean: {total_day_charge_mean}, median: {total_day_charge_median}, mode: {total_day_charge_mode}, std: {total_day_charge_std}, var: {total_day_charge_var}, min: {total_day_charge_min}, max: {total_day_charge_max}')
print('====================================================================================================================================================================================')
print(f'Churn: mean: {churn_mean}, median: {churn_median}, mode: {churn_mode}, std: {churn_std}, var: {churn_var}, min: {churn_min}, max: {churn_max}')

Age: mean: 38.59929411764706, median: 39.0, mode: 0    40
Name: age, dtype: int64, std: 5.271061551131642, var: 27.784089875818314, min: 19, max: 55
====================================================================================================================================================================================
Voice Mail Plan: mean: 0.2616470588235294, median: 0.0, mode: 0.0, std: 19.850817312142933, var: 1.7198579042819242, min: 0
====================================================================================================================================================================================
Number Vmail Messages: mean: 7.631764705882353, median: 0.0, mode: 0    189.3
Name: total_day_minutes, dtype: float64, std: 19.850817312142933, var: 1.7198579042819242, min: 0
====================================================================================================================================================================================
Number Customer Service Calls: mean: 1.5590588235294118, median: 1.0, mode: 0    1
Name: number_customer_service_calls, dtype: int64, std: 1.3114335302568423, var: 1.7198579042819242, min: 0, max: 9
====================================================================================================================================================================================
Total Day Minutes: mean: 180.2596, median: 180.45, mode: 0    189.3
Name: total_day_minutes, dtype: float64, std: 54.01237333141771, var: 2917.3364728924435, min: 0.0, max: 351.5
====================================================================================================================================================================================
Total Day Calls: mean: 99.90729411764706, median: 100.0, mode: 0    105
Name: total_day_calls, dtype: int64, std: 19.850817312142933, var: 394.05494796007355, min: 0, max: 165
====================================================================================================================================================================================
Total Day Charge: mean: 30.644682352941174, median: 30.68, mode: 0    32.18
Name: total_day_charge, dtype: float64, std: 9.182096032769163, var: 84.31088755499519, min: 0.0, max: 59.76
====================================================================================================================================================================================
Churn: mean: 0.14070588235294118, median: 0.0, mode: 0    0
Name: churn, dtype: int64, std: 0.34775881383358753, var: 0.12093619259894381, min: 0, max: 1

In [12]:
telcom_data_df.describe()

,age,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,number_customer_service_calls,churn
count,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000,4250.000000
mean,38.599294,0.261647,7.631765,180.259600,99.907294,30.644682,1.559059,0.140706
std,5.271062,0.439583,13.439882,54.012373,19.850817,9.182096,1.311434,0.347759
min,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36.000000,0.000000,0.000000,143.325000,87.000000,24.365000,1.000000,0.000000
50%,39.000000,0.000000,0.000000,180.450000,100.000000,30.680000,1.000000,0.000000
75%,42.000000,1.000000,16.000000,216.200000,113.000000,36.750000,2.000000,0.000000
max,55.000000,1.000000,52.000000,351.500000,165.000000,59.760000,9.000000,1.000000

## Exploring Data Grouped by State and Churn

### Learn

In the previous step, you discovered the following:

- `churn` and `voice_mail_plan` are qualitative variables, so their corresponding descriptive statistics aren’t particularly helpful.
- For most variables, the mean and the median are quite similar except for `number_vmail_messages`.
- Some columns, like `total_day_calls` and `total_day_minutes`, have high variance.
- When considered independently, these variables don’t help us draw any further conclusions.

Let’s look at summary statistics by different segments to see if we can gather additional insights.

### Instructions

1. **In a new sheet, create a PivotTable grouping the data.**

2. **Add `state` and then `churn` as Rows to the PivotTable Fields.**

3. **Add the following as Values to the PivotTable Fields:**
   - Average of `age`
   - Sum of `voice_mail_plan`
   - Sum of `number_vmail_messages`
   - Average of `total_day_minutes`
   - Count of `total_day_calls`
   - Sum of `number_customer_service_calls`
   - `Churn rate`

4. **If necessary, rename any column of the above PivotTable to make it easier to reference later.**

5. **Sort the above PivotTable by the “Churn rate” value in descending order.**

6. **For the five states with the highest churn rate, compare the values corresponding to customers who have churned vs. those who haven’t.**

7. **In a Text Box, briefly describe any patterns you notice between the values and the customers who churned in these five states.**
   - For example, do churned customers in these states make more calls than those who didn't churn?

8. **[Optional] Explore the above using the remaining columns.**

9. **[Optional] Explore and identify patterns by grouping the data by `area_code` and `churn`.**

In [77]:
# create a pivot table with state and churn as rows 
#  - Average of `age`
#    - Sum of `voice_mail_plan`
#    - Sum of `number_vmail_messages`
#    - Average of `total_day_minutes`
#    - Count of `total_day_calls`
#    - Sum of `number_customer_service_calls`

# calculate the churn rate per state and add it to the dataframe
churn_rate_per_state = telcom_data_df.groupby('state')['churn'].sum() / telcom_data_df.groupby('state')['churn'].count() * 100
churn_rate_per_state.sort_values(ascending=False)
telcom_data_df['churn_rate_per_state'] = telcom_data_df['state'].map(churn_rate_per_state)

# create the pivot table
telcom_data_pivot = pd.pivot_table(telcom_data_df, 
                                   index=['state', 'churn'], 
                                   values=['age', 'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes', 'total_day_calls', 'number_customer_service_calls', 'churn_rate_per_state'], 
                                   aggfunc={'age': 'mean', 'voice_mail_plan': 'sum', 'number_vmail_messages': 'sum', 'total_day_minutes': 'mean', 'total_day_calls': 'count', 'number_customer_service_calls': 'sum', 'churn_rate_per_state': 'mean'})

telcom_data_pivot_churn_sorted = telcom_data_pivot.sort_values(by='churn_rate_per_state', ascending=False)


telcom_data_pivot_churn_sorted

                   age  churn_rate_per_state  number_customer_service_calls  \
state churn
NJ    1      31.423077             27.083333                             60
      0      39.228571             27.083333                             92
CA    1      29.600000             25.641026                             18
      0      40.586207             25.641026                             33
WA    1      31.166667             22.500000                             38
...                ...                   ...                            ...
AK    1      26.250000              6.557377                              9
HI    1      30.500000              5.194805                             11
      0      39.534247              5.194805                            109
VA    0      39.726316              5.000000                            134
      1      32.000000              5.000000                             10

             number_vmail_messages  total_day_calls  total_day_minutes  \
state churn
NJ    1                        193               26         228.011538
      0                        460               70         179.958571
CA    1                         49               10         180.770000
      0                        180               29         167.741379
WA    1                         33               18         215.188889
...                            ...              ...                ...
AK    1                         19                4         195.400000
HI    1                          0                4         251.500000
      0                        517               73         177.912329
VA    0                        582               95         175.686316
      1                         42                5         202.140000

             voice_mail_plan
state churn
NJ    1                    6
      0                   16
CA    1                    2
      0                    6
WA    1                    1
...                      ...
AK    1                    1
HI    1                    0
      0                   18
VA    0                   19
      1                    1

[102 rows x 7 columns]

### Exploring Data Grouped by `voice_mail_plan` and `churn`

### Learn

In the PivotTable you created, you might have discovered that New Jersey (NJ) contributes the most to churn with 4.35% of all churned customers. You might also have noticed upon further exploration that those who churn have the following characteristics:

- Younger than people who didn't churn
- Make fewer daily calls
- Are being charged more per day

You can see there is a pattern emerging as we explore the data, and you might find more! If you didn’t discover much so far, don’t worry! We will continue to dig deeper.

Next, we will group our data by the `voice_mail_plan` field.

### Instructions

1. **In a new sheet, create a PivotTable grouping the data.**

2. **Add `voice_mail_plan` and then `churn` as Rows to the PivotTable Fields.**

3. **Add the following as Values:**
   - Average of `age`
   - Sum of `number_vmail_messages`
   - Sum of `total_day_minutes`
   - Average of `total_day_charge`
   - `Churn rate`

4. **If necessary, rename any column of the above PivotTable to make it easier to reference later.**

5. **In a Text Box, briefly describe any patterns you notice between the values and the customers who churned.**
   - For example, you might notice a couple of 0s when you sum the `number_vmail_messages` column. Why do you think the sum would be 0?
   - Feel free to point out any other interesting patterns you notice in the PivotTable.

6. **[Optional] Explore the above using the remaining columns.**

In [79]:
# create the pivot table
telcom_data_pivot = pd.pivot_table(telcom_data_df, 
                                   index=['state', 'churn'], 
                                   values=['age', 'number_vmail_messages', 'total_day_minutes', 'total_day_charge', 'churn_rate_per_state'], 
                                   aggfunc={'age': 'mean', 'number_vmail_messages': 'sum', 'total_day_minutes': 'sum', 'total_day_charge': 'mean', 'churn_rate_per_state': 'mean'})

telcom_data_pivot_churn_sorted = telcom_data_pivot.sort_values(by='churn_rate_per_state', ascending=False)

telcom_data_pivot_churn_sorted

                   age  churn_rate_per_state  number_vmail_messages  \
state churn
NJ    1      31.423077             27.083333                    193
      0      39.228571             27.083333                    460
CA    1      29.600000             25.641026                     49
      0      40.586207             25.641026                    180
WA    1      31.166667             22.500000                     33
...                ...                   ...                    ...
AK    1      26.250000              6.557377                     19
HI    1      30.500000              5.194805                      0
      0      39.534247              5.194805                    517
VA    0      39.726316              5.000000                    582
      1      32.000000              5.000000                     42

             total_day_charge  total_day_minutes
state churn
NJ    1             38.761923             5928.3
      0             30.593429            12597.1
CA    1             30.730000             1807.7
      0             28.517241             4864.5
WA    1             36.582778             3873.4
...                       ...                ...
AK    1             33.217500              781.6
HI    1             42.755000             1006.0
      0             30.245068            12987.6
VA    0             29.867158            16690.2
      1             34.364000             1010.7

[102 rows x 5 columns]

### Analyzing Frequency Distributions

### Learn

In the previous step, we discovered that 86.3% of people who churned didn't have a voicemail plan. For that segment, we can also see that they have the following characteristics:

- Younger than those who didn't churn
- Spend relatively less time on calls
- Were spending more per day compared to the ones who didn’t churn and didn’t have a voicemail plan

By now, you should have a good idea of what variables to look at to identify relevant patterns.

We can now move on to exploring these relationships via appropriate visualizations. We'll first look at the individual distributions of our numerical columns for a broader understanding of our dataset.

### Instructions

1. **Copy the following numerical columns to a new sheet:**
   - `age`
   - `number_vmail_messages`
   - `total_day_minutes`
   - `total_day_calls`
   - `total_day_charge`
   - `number_service_calls`

2. **For each column, create a histogram:**
   - Add the appropriate title, axes labels, and legend (if any) to your charts.
   - Maximize the data-ink ratio of your charts by removing any chartjunk.

3. **For each chart, add a Text Box that briefly describes the chart.**
   - For example, for `age`, you can specify the data’s distribution as well as the range within which the majority of the values lie.

4. **Compare and contrast your histograms with the mean, median, and standard deviation values that you calculated during your initial EDA.**
   - Do those values seem to match?
   - [Optional] Or do you think you need to adjust the bins of any particular histogram?
   - [Optional] In an empty cell, briefly explain any such observations you make.

### Visualizing Data Grouped by State and Churn

### Learn

Most of the generated histograms were normally distributed, except for a couple of them. The distributions seem to match up with the descriptive statistics that you calculated earlier.

In the first PivotTable you created, grouped by state and churn, you might have noticed the difficulty in exploring the data in tabular format. It's often easier to identify certain patterns or explore our data using appropriate visualizations.

Continuing from the previous screen, we will create additional visualizations to understand our data better.

We will limit the visualizations to the top three states out of the five we identified earlier:

- NJ
- MN
- TX

The chart might be too noisy if we use more than three states. However, we recommend you visualize the data for some of the other states as well.

### Instructions

1. **In a new sheet, create a PivotTable grouping the data.**

2. **Add `churn` as Rows, and then `state` as Columns to the PivotTable Fields.**

3. **Add the average of `age` as Values.**

4. **Filter the table to show only three states, as mentioned above.**
   - [Optional] Filter the table by some of the other states.

5. **Create a Bar Chart from the above PivotTable.**
   - Add the appropriate title, axes labels, and legend (if any) to your chart.
   - Maximize the data-ink ratio of your chart by removing any chartjunk.

6. **Add some text underneath the chart that briefly describes the chart.**

7. **Repeat the above process using the remaining variables in the data.**
   - Only use the variables/values that you identified to be relevant to churn during your initial EDA.

8. **[Optional] Repeat the above using `area_code` instead of `state`.**

### Exploring and Visualizing Data Grouped by Churn

### Learn

Finally, we'll explore differences in the data by grouping by `churn`.

You'll also have the freedom to identify whichever values you want in your PivotTables.

### Instructions

1. **In a new sheet, create PivotTables grouping the data by `churn`.**

2. **Add and explore Values to each PivotTable that you think might be relevant.**
   - For example, you can create a PivotTable to look at the average age of customers grouped by `churn`.

3. **If necessary, rename columns of the above PivotTables to make them easier to reference later.**

4. **For each PivotTable, create a Bar Chart depicting that group’s relationship.**
   - Add the appropriate title, axes labels, and legend to your charts.
   - Add appropriate Data Labels to each chart.
   - Maximize the data-ink ratio of your charts by removing any chartjunk.

5. **Add a brief description underneath each chart that explains the relationship between the `churn` and the corresponding variable.**

6. **Do you observe any patterns that either contradict a previous discovery or weren't apparent before?**

### Final Report

### Learn

Excellent work on making it to the end of this project! You applied a variety of data exploration skills to explore and analyze a real-world dataset. There’s one final task remaining.

As an analyst, you will often communicate results to stakeholders. One of the project's goals was to create a customer profile that helps identify who would be likely to churn. Next, you will consolidate all the important and relevant insights you have discovered.

Communicating your results can often be more important than the exploration. Those results help make data-driven decisions that can positively affect both the business and customers. Plus, it adds great value to your portfolio!

### Instructions

1. **At the front of your workbook, create a new sheet, and rename it to `Report`.**

2. **Inside this sheet, do the following:**
   - Copy over two to five tables that contain information most relevant to the customer profile you have identified.
   - Underneath each table, briefly describe the table.
   - If necessary, highlight the relevant data in the table using accessible colors.
   - Copy over five to ten visualizations that you think best help explain the identified profile.
   - Make sure each chart has an associated description pointing out its relevance.

3. **[Optional] In a Text Box, add your recommendation(s) for what the telecommunication provider could focus on to decrease churn for those customers.**

   - This is to only help you better connect your EDA with business needs. It is a very valuable skill to have.

## Summary

In this project, we applied a variety of data exploration and analysis techniques to profile customers who churned. While this project would be a great addition to your portfolio, there's more that you can do to improve your skills.

As you know, we modified the original dataset for this project. It has many more variables you could use to improve your analysis and generate better insights to identify customers who are likely to churn:

- Do customers spend more time on calls during the day or during the night? How do both relate to churn?
- Are customers who have both the voicemail and the international plan more likely to churn because they are being charged too much?
- How do the number of months the customer has been with a provider affect their likelihood to churn in relation to other variables?

Adding more data to the mix can definitely be a daunting task. Even though more data might not help improve the analysis, you can still get some good practice. So, proceed at your own pace, but definitely aim to extend your analysis even if it's with just one more variable.

If you'd like to see what kind of EDA your fellow learners carried out on this project, head over to our Community! You might discover an insight you missed. Or, your feedback could help someone else learn something new. While there, you should share your own project with everyone as well!